body {
    font-family: 'Poppins', sans-serif;
}

.half-width p {
    margin-bottom: 60px;
}

/* Top banner Style */
.top-banner {
    background-color: black;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 94.5%;
    margin-left: 40px;
    margin-right: 30px;
}

/* style for to-banner hover */
.top-banner:hover {
    background-color: lightslategrey;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    color: white;
}

/* Style for Button */
.button {
    text-decoration: none;
    color: white;
    margin-top: 50px;
    background-color: red;
    padding: 10px 40px;
    border-radius: 10px;

}

/* style for to-banner button hover */
.button:hover {
    background-color: aqua;
    color: black;
}

/* side menu & blogspart */
.middle-part {
    display: flex;
    margin-left: 40px;
    margin-right: 30px;

}

/* style for side menu */
.side-menu {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 20px;

}

/* Style for side-menu */
.side-button {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 30px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 10px;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px
}

/* Style for blog */
.blog {
    border: 1px solid burlywood;
    height: 300px;
    width: 310px;
    border-radius: 10px;
}

/* blog style for match page */
.blog-match {
    border: 1px solid burlywood;
    height: 200px;
    width: 247.5px;
    border-radius: 10px;
}

.blog-match h3 {
    text-align: center;
}

/* View All button style for tab only */
.for-tab {
    text-decoration: none;
    display: none;
}

.tab-btn {
    height: 40px;
    width: 70px;
    background-color: red;
    color: white;
}

/* style for footer */
.footer {
    background-color: bisque;
    height: 250px;
    width: 94.5%;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 30px;
}

.footer h1 {
    padding-top: 20px;
    color: black;
    text-align: center;

}

.footer h3 {
    text-align: center;
    margin-bottom: 0;
}

.icon {

    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.icon a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-around;

}

.nav a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

/* Responsiveness for mobile */
@media screen and (max-width:576px) {
    .top-banner {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .top-banner p {
        margin-bottom: 10px;
    }

    .button {
        padding: 5px;
    }

    .middle-part {
        flex-direction: column;
        align-items: center;
    }

    .side-menu {
        flex-direction: column;
        margin-top: 5px;
        background-color: white;
        border: none;
    }

    .side-button {
        border: 1px solid grey;
        background-color: red;
        color: white;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .for-tab {
        display: none;
    }

    .footer {
        height: auto;
        width: 100%;
        margin-left: 0;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 700px) {
    .top-banner {
        flex-direction: raw;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .middle-part {
        flex-direction: column;
        align-items: center;
    }

    .side-menu {
        width: 100%;
        height: 80px;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2px;
        margin-bottom: 10px;
        background-color: white;
        border: none;
    }

    .side-button {
        border: 1px solid grey;
        padding: 20px 30px;
        margin-top: 10px;
        background-color: white;
        color: black;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .for-tab {
        margin-top: 20px;
        align-items: center;
        display: contents;

    }

    .nav {
        flex-wrap: wrap;
    }
}